.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: rgb(52, 135, 191);
}

h1 {
  margin: 30px;
  font-family: 'Silkscreen', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Silkscreen', cursive;
}

img {
  width: 60%;
}



@media (max-width-) {
  h1 {
    font-size: 5rem;
  }
}